In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://airflow:airflow@postgres:5432/airflow')

df_pets = pd.read_sql('SELECT * FROM pets', engine)
df_nutrition = pd.read_sql('SELECT * FROM nutrition', engine)

display(df_pets.head())
display(df_nutrition.head())

        name species  birth_year                favorite_foods
0  Purrsloud     Cat        2016  wet food, dry food, any food
1  Barksalot     Dog        2008
2  Meowsalot     Cat        2012          tuna, catnip, celery

,product_name,mfr,total_calories,vit_a,vit_c,min_ca,min_fe
0,Avocado Dip,Sunnydale,110,0,0,0,0
1,"Bagels, New York Style",Thompson,300,0,0,8,20
2,"Beef Frankfurter, Quarter Pound",Armitage,370,0,2,1,6
3,Chicken Pot Pie,Lakeson,410,20,2,2,10
4,Cole Slaw,Fresh Quick,20,30,45,4,2